.hello-section {
  display: flex; 
  justify-content: center;
  width: 100%;
}

.apresentation {
  color: #E5E9F0;
  font-size: 18px;
}

.text-apresentation {
  color: #E5E9F0;
  font-size: 16px;
  margin-top: 20px;
}

.hello-container {
  margin-top: 265px;
  margin-left: 200px;
  width: 100%;
}

.hello-container .title {
  font-size: 62px;
  color: #E5E9F0;
  font-weight: 400;
}


.hello-container
 h2 {
  color: #4D5BCE;
  font-size: 32px;
  font-weight: 300;
}

.links-hello {
  margin-top: 81px;
}

.comments {
  color: #607B96;
  font-size: 16px;
}

.const {
  margin-top: 10px;
  color: #fff;
}

.const-color {
  color: #4D5BCE;
  font-weight: 500;
  font-size: 16px;
}

.const span {
  color: #43D9AD;
  font-weight: 500;
  font-size: 16px;
}

.const a {
  color: #E99287;
  font-weight: 500;
  font-size: 16px;
}

.gradient-container {
  width: 100%;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
}

.gradient {
  width: 100%;
}

.hello-container-mobile {
  display: none;
}

/* mobile */

.hello-mobile {
  background-image: url('../../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
}

.apresentation-container {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-top:  96px;
}

.apresentation-container .hello-mobile-apresentation {
  color: #E5E9F0;
  font-size: 18px;
}

.apresentation-container h1 {
  color: #E5E9F0;
  font-size: 62px;
  font-weight: 400;
}

.apresentation-container .title-home-mobile {
  width: 100%;
  font-size: 20px;
  color: #43D9AD;
}

.links-hello-mobile {
  margin-top: 204px;
}

.links-hello-mobile .comments {
  display: flex;
  justify-content: center;
}

.links-hello-mobile .const {
 padding-left: 10%;
}


@media screen and (max-width: 768px) {
  .hello-section {
    flex-direction: column;
    align-items: center;
  }

  .gradient-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}