.about-section {
  width: 100%;
  display: flex;
}

.about-icons {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1E2D3D;
  align-items: center;
  list-style: none;
  width: 10%;
}

.about-icons li {
  margin-top: 20px;
}

.folders-section {
  border-right: 1px solid #1E2D3D;
}

.info {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #1E2D3D;
  height: 40px;
  width: 100%;
}

.info p {
  margin-left: 10px;
}

.folders-info {
  list-style: none;
  border-bottom: 1px solid #1E2D3D;
  max-height: 400px;
  min-height: 200px;
  padding-top: 22px;
}

.folders-info li {
  padding-left: 12px;
  color: #607B96;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}

.folder {
  margin-left: 10px;
}

.folders-info p {
  margin-left: 10px;
}

.folders-info-content {
  display: flex;
  align-items: center ;
  margin-top: 5px;
  color: #607B96;
}

.folders-info-content a {
  padding-left: 10px;
  color: #607B96;
  text-decoration: none;
  cursor: pointer;
}

.folders-info-content a:hover {
  color:#fff;
}

.markdown {
  margin-left: 35px;
}

.contacts {
  height: 200px;
  padding-top: 22px;
  list-style: none;
}

.contacts li {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 14px;
  color: #607B96;
}

.contacts p {
  margin-left: 5px;
}

.info-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #607B96;
  font-size: 16px;
  border-right: 1px solid #1E2D3D;
  height: 40px;
  width: 264px;
}


.border {
  width: 500px;
  height: 40px;
  border-right: 1px solid #1E2D3D;
  border-bottom: 1px solid #1E2D3D;
}

.list-about-me {
  width: 485px;
  border-top: 1px solid #1E2D3D;
}

.list-about-me p  {
  padding-left: 5px;
}

.list-about-me ol {
  padding-left: 40px;
  padding-top: 18px;
 
}

.list-about-me li {
  color: #607B96;
}

.retangule {
  width: 19px;
  height: 7px;
  background-color: #607B96;
  margin-top: 40px;
}

.codes {
  /* height: 100vh; */
  width: 560px;
  padding-top: 40px;
  border-right: 1px solid #1E2D3D;
  border-left: 1px solid #1E2D3D;
}

.border-top {
  border-top: 1px solid #1E2D3D;
}

.codes p {
  padding-top: 18px;
  color: #607B96;
  font-size: 18px;
  padding-left: 44px;
}

.codes-details {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.codes-details img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.code-details-container {
  display: flex;
  align-items: center;
}

.name {
  color: #5565E8;
  font-weight: 700;
  font-size: 14px;
}

.date {
  color: #607B96;
  font-size: 12px;
}

.codes-details ul {
  display: flex;
  list-style: none;
}

.codes-details li {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #607B96;
}

.codes-details a {
  text-decoration: none;
  color: #607B96;
}

.codes-details a:hover {
  color: #fff;
}

.img-code-container {
  display: flex;
  justify-content: center;
}

.about-mobile {
  /* height: 100vh; */
  width: 100%;
}

.about-title {
  color: #fff;
  padding-top: 20px;
  padding-left: 40px;
}

.box-info {
  height: 31px;
  background-color: #1E2D3D;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  width: 95%;
  padding-left: 38px;
  margin-top: 3px;
}

.box-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  color: #fff;
}

.text-about-mobile-title {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-left: 40px;
}

.bio {
  color: #607B96;
  margin-left: 10px;
}


.text-about-me {
  color: #607B96;
  font-size: 16px;
  padding-top: 17px;
  width: 90%;
  padding-left: 40px;
}

.title-snippet {
  color: #fff;
  padding-left: 40px;
  padding-top: 48px;
}

.snippet-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.snippet-box img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}


.name-image {
  display: flex;
}

.username {
  color: #5565E8;
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
}

.name-image span {
  color: #607B96;
  font-size: 12px;
}

.details {
  display: flex;
  color: #607b96;
}

.details:hover {
  color: #fff;
}

.details p {
  margin-left: 10px;
}

.snippet-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-icons-mobile {
  list-style: none;
  margin-top: 20px;
}

.link-details-mobile {
  text-decoration: none;
  color: #607B96;
}

/* animation */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-icon {
  animation: rotate 1s linear infinite; /* Ajuste a duração e outras propriedades conforme necessário */
}

.active-folder {
  color: #fff;
}